<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
</head>
<body><br>
{{ personal.id }}<br>
{{ personal.first_name }}<br>
{{ personal.last_name }}<br>
{{ personal.title }}<br>
{{ personal.salary }}<br>
{{ personal.start_day }}<br>
{{ personal.end_day }}<br>
{{ personal.department.id }}<br>
{{ personal.department.name }}<br>
{{ personal.department.interest }}<br>
{{ personal.department.location }}<br>
{{ personal.department.budget }}<br>

</body>
</html>